@font-face {
  font-family: 'Inter';
  src:
    url('../../vendor/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../../vendor/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src:
    url('../../vendor/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
    url('../../vendor/fonts/Inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src:
    url('../../vendor/fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('../../vendor/fonts/Inter/Inter-Bold.woff') format('woff2');
  font-weight: 700;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: Inter, Arial, sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }